/* Autor: Jefferson Augusto Lopes */
#sideMenu{
  height: 100%;
  background:black;
  float:left;
  position: fixed;
  width:0px;
  min-height: 100%;
  z-index: 999999;
}
.open_menu{
  width:25%;
}
.close_menu{
  width:0px;
}

#overlay{
  top:0;
  left:0;
  position: fixed;
  width:100%;
  height: 100%;
  z-index: 89999;
  background-color: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  display:none;
}